/* Powered | CoderX ©2021 | Andrei Abd
█▀▀ █▀█ █▀▄ █▀▀ █▀█ ▀▄▀
█▄▄ █▄█ █▄▀ ██▄ █▀▄ █░█
CODER X |تم تصميم الموقع و برمجته من قبل اندريه عبد
mail      :  usr.g0a1@gmial.com
CoderX    :  https://coderx-project.blogspot.com/
Whatsapp  :  +963934820511
Pinterest :  https://www.pinterest.com/andreiabd93/
Instagram :  https://www.instagram.com/andrei_abd/
Linkeden  :  https://www.linkedin.com/in/andreiabd
Facebook  :  https://www.facebook.com/andreiaabd/
Github    :  https://github.com/AndreiAbd
*/

*>button {
    cursor: pointer;
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header>h1 {
    text-align: center;
    cursor: not-allowed;
}

.sourcesDetails>a {
    text-decoration: none;
    justify-content: center;
}

header>span,
.sourcesDetails span {
    color: red;
    font-weight: bold;
    cursor: not-allowed;
}

.sourcesDetails summary {
    color: yellowgreen;
    cursor: pointer;
}

section>header {
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 5px;
}

.textMain>span {
    color: yellowgreen;
}

footer a {
    color: yellowgreen;
    text-decoration: none;
}

.codeSection {
    background-color: #000;
    color: #fff;
    cursor: text;
}

header>p>span {
    color: greenyellow;
}


/*Loader*/

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.logo-loader {
    animation-name: scale2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes scale2 {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1.5;
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

#ascgen-image {
    background-color: #111;
    text-align: center;
}

#ascgen-image pre {
    font-family: "Lucida Console", monospace;
    font-size: 9pt;
    line-height: 12px;
    overflow: auto;
}

.c0 {
    color: #335566;
}

.c1 {
    color: #002B33;
}

.c2 {
    color: #335533;
}

.c3 {
    color: #002B66;
}

.c4 {
    color: #335599;
}

.c5 {
    color: #338066;
}

.c6 {
    color: #665566;
}

.c7 {
    color: #005566;
}

.c8 {
    color: #668099;
}

.c9 {
    color: #332B33;
}

.c10 {
    color: #995500;
}

.c11 {
    color: #662B33;
}

.c12 {
    color: #005533;
}

.c13 {
    color: #332B66;
}

.c14 {
    color: #665533;
}

.c15 {
    color: #995533;
}

.c16 {
    color: #660000;
}

.c17 {
    color: #668033;
}

.c18 {
    color: #330033;
}

.c19 {
    color: #660033;
}

.c20 {
    color: #662B66;
}

.c21 {
    color: #995566;
}

.c22 {
    color: #000033;
}

.c23 {
    color: #992B33;
}

.c24 {
    color: #332B00;
}

.c25 {
    color: #998033;
}

.c26 {
    color: #668066;
}

.c27 {
    color: #998066;
}

.c28 {
    color: #CC8033;
}

.c29 {
    color: #000000;
}

.c30 {
    color: #CC8066;
}

.c31 {
    color: #99AA66;
}

.c32 {
    color: #CCAA99;
}

.c33 {
    color: #CCAA66;
}

.c34 {
    color: #FFAA66;
}

.c35 {
    color: #CCD599;
}

.c36 {
    color: #FFD599;
}

.c37 {
    color: #FFAA99;
}

.c38 {
    color: #CCD566;
}

.c39 {
    color: #99AA99;
}

.c40 {
    color: #CC8099;
}

.c41 {
    color: #FFD566;
}

.c42 {
    color: #FFD5CC;
}

.c43 {
    color: #CCD5CC;
}

.c44 {
    color: #CCAACC;
}

.c45 {
    color: #998099;
}

.c46 {
    color: #992B00;
}

.c47 {
    color: #330000;
}

.c48 {
    color: #CC5566;
}

.c49 {
    color: #992B66;
}

.c50 {
    color: #CC5533;
}

.c51 {
    color: #66AA99;
}

.c52 {
    color: #662B00;
}

.c53 {
    color: #FF8099;
}

.c54 {
    color: #CC5500;
}

.c55 {
    color: #998000;
}

.c56 {
    color: #CC8000;
}

.c57 {
    color: #335500;
}

.c58 {
    color: #665500;
}

.c59 {
    color: #CCFFCC;
}

.c60 {
    color: #FFFFCC;
}

.c61 {
    color: #002B00;
}

.c62 {
    color: #008066;
}

.c63 {
    color: #66AA66;
}

.c64 {
    color: #99D599;
}

.c65 {
    color: #338099;
}

.c66 {
    color: #005599;
}